<%# Dev User info and Stats (overall rating)<br /> %>
<div class="container">
    <div class="row justify-content-center bg-white">
        <div class="col-sm-12 col-md-10">
            <h2 class="text-center"><%= @dev.name %> Profile</h2>
        </div>
    </div>
<%# project id 22, 23, 25 %>
    <div class="row justify-content-center bg-white">
        <div class="col-sm-12 col-md-2 ">
            <div class="form-group text-center">
                <%= image_tag @dev.avatar_url, alt: "User Avatar Picture" unless @dev.avatar_url.nil? %>
            </div>
            <div class="form-group">
                <% if @overall_rating %>
                    Average Rating <%= @overall_rating.round(2) %>
                <% else %>
                    No reviews yet
                <% end %>
            </div>
            <div class="form-group">
                <%= @dev.name %>
            </div>
            <div class="form-group">
                <%= @dev.company_name %>
            </div>
            <div class="form-group">
                <%= @dev.email %>
            </div>
            <div class="form-group">
                <%= @dev.phone_number %>
            </div>
            <div class="form-group">
                <%= @dev.city %>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 align-self-center">
            <div class="">
                <%= @dev.bio %>
            </div>
        </div>
    </div>
</div>

    <%# Dev can upload images of their works (thumbnails => full; max 6) %>
<div class="container">
    <div class="row justify-content-center bg-white">
        <div class="col-sm-12 col-md-10">
            <h2 class="text-center">Portfolio</h2>
        </div>
    </div>
    <div class="row .d-flex justify-content-center">
        <% @images.each do |image| %>
                <div class="col-sm-12 col-md-4 bg-white">
            <%# <%= image_tag image.name_url , alt: "Screenshot of Devs work" unless image.name_url.nil? %>
            <%= link_to(image_tag(image.name.thumb.url, alt: "Screenshot of Devs work"), image.name_url, target: '_blank') if image.name? %>
                </div>
        <% end %>
    </div>
</div>

    <%# List of Dev’s reviews %>
<div class="container">
    <div class="row justify-content-center">   
        <div class="col-sm-12 col-md-8 col-lg-6 bg-white">
            <% @ratings.each do |rating| %>
                <div>  
                    <p>Rating: <%= rating.rate %></p>
                    <p>Comments: <%= rating.testimony %></p>
                </div>
            <% end %>
        </div>
        
        <div>
            <%= link_to "Back", :back %>
        </div>
    </div>  
</div>
