<h1>Home Page</h1>

<div>
    <%= link_to 'Find a Project', projects_path %>
    <%= link_to 'Post a Project', new_project_path %>
</div>

<div>
    <%= link_to 'List of Products', products_path %>
</div>

<div>
    <h3>How it works</h3>
</div>

<div>
    <%= link_to 'List of Projects', projects_path %>
</div>

<div>
    <%= link_to 'List of Devs', profiles_path %>
</div>