<%= form_with(model: [@project, @rating], local: true) do |form| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rate %>
    <%= form.number_field :rate %>
  </div>

  <div class="field">
    <%= form.label :testimony %>
    <%= form.text_area :testimony %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
