<h1 class="container display-4 text-center" >Client's Dashboard</h1><br>

<%# Projects created by the user(client) and open to bids, not in progress yet%>
<h2>Open</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Project ID</th>
      <th scope="col">Title</th>
      <th scope="col">Bids</th>
    </tr>
  </thead>
  <tbody>
    <% @open.each_with_index do |project, index| %>
      <tr>
        <th scope="row"><%= project.id %></th>
        <td><%= project.title %></td>
        <td>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="heading<%= index.to_s %>">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= index.to_s %>" aria-expanded="true" aria-controls="collapse<%= index.to_s %>">Bids</button>
                </h5>
              </div>

              <div id="collapse<%= index.to_s %>" class="collapse show" aria-labelledby="heading<%= index.to_s %>"    data-parent="#accordion">
                <div class="card-body">
                  <% if project.bids.empty?%>
                    <%= "No bids yet" %>
                  <% else %>
                    <% project.bids.each do |bid| %>
                      <button class="btn btn-success"><%= link_to "Accept", projects_dashboard_path({project_id: project.id, bid_id: bid.id}), method: :post %>Bid <%= bid.id %></button>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# Projects created by the user and in progress - the developer already has been chosen by the client %>
<h2>In Progress</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Project ID</th>
      <th scope="col">Title</th>
      <th scope="col">Developer working on the project</th>
      <th scope="col">Check Status</th>
    </tr>
  </thead>
  <tbody>
    <% @ongoing.each do|project| %>
      <tr>
        <th scope="row"><%= project.id %></th>
        <td><%= project.title %></td>
        <td>Developer's name</td>
        <td><button class="btn btn-success">
        <% if current_user.id == project.user_id && project.status == "ongoing" %>
          <%= link_to "Project Complete?", status_complete_project_path(project), method: :post, data: { confirm: 'Project Complete'},class:"btn btn-warning" %>
        <% end %></button>
      </tr>
    <% end %>
  </tbody>
</table>

<%# Completed and closed projects that were created by the user (client) %>
<h2>Completed</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Project ID</th>
      <th scope="col">Title</th>
      <th scope="col">Developer who worked on the project</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @completed.each do|project| %>
      <tr>
        <th scope="row"><%= project.id %></th>
        <td><%= project.title %></td>
        <td>Developer's name</td>
        <%# <td> RATING LOGIC TO SHOW THE RATING FOR EACH PROJECT </td> %>
      </tr>
    <% end %>
  </tbody>
</table>

                <%# --- Completed Project-Show Rating--- %>
                <%# if @project.rating != nil %>
                  <%# <div class="card w-75"> %>
                    <%# <div class="card-body"> %>
                      <%# <span class="card-title">Ratings:</span> = @rated.rate %>
                      <%# <p class="card-text"> %>
                        <%#= @rated.testimony %>
                      <%# </p> %>
                      <%# TODO: link to dev profile %>
                      <%# <a href="#" class="btn btn-primary">To 'Dev' Profile</a> %>
                    <%# </div> %>
                  <%# </div> %>
                <%# end %>
                  
                <%# --- Completed Project-Not Yet Rated--- %>
                  <%# if @project.rating == nil && current_user.id == @project.user_id %>
                      <%#= render "ratings/form", project: @project, rating: @rating %>
                  <%# end %>
              <%# end  %>