<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-12 p-4 bg-white">
      <h1 class="display-4 text-center" id="dashtitle"> Dev's Dashboard </h1>

      <%# Ongoing projects that current_user(dev) has accepted bids: Bid status = 1 AND Project status = 1 %>
      <div class> 
        <div id="dev_header_1">
          <h2> In Progress Projects </h2>
        </div>
      </div>

      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Project ID</th>
            <th scope="col">Project Title</th>
            <th scope="col">Deadline</th>
            <th scope="col">Bid Status</th>
          </tr>
        </thead>
        <tbody>
          <% @accepted_bids.each do |bid| %>
            <% if bid.status == "accepted" && bid.project.status == "ongoing" %>
              <tr>
                <td><%= bid.project_id %></td>
                <td><%= bid.project.title %></td>
                <td><%= bid.project.deadline%></td>
                <td><%= bid.status %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <%# Open projects that current_user(dev) has pending bids: Bid status = 0 and Project status = 0 %>
      <div class="mt-4"> 
        <h2> Active Bids </h2>
      </div>

      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Project ID</th>
            <th scope="col">Project Title</th>
            <th scope="col">Bid Status</th>
            <th scope="col">Cancel Bid?</th>
          </tr>
        </thead>
        <tbody>
          <% @pending_bids.each do |bid| %>
            <% if bid.status == "pending" && bid.project.status == "open" %>
              <tr>
                <td><%= bid.project_id %></td>
                <td><%= bid.project.title %></td>
                <td><%= bid.status %></td>
                <td><%= link_to "Cancel bid?", cancel_bid_project_path(bid), method: :post, data: { confirm: 'Are you sure you want to cancel this bid?' }, class:"btn btn-outline-danger" %></td>
              </tr>  
            <% end %>
          <% end %>      
        </tbody>
      </table>

      <%# Completed projects that current_user(dev) has accepted bids: Bid status = 1 and Project status = 2 %>
      <div class="mt-4"> 
          <h2> Completed Projects </h2>
      </div>

      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Project ID</th>
            <th scope="col">Project Title</th>
            <th scope="col">Project Overview</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>
        <tbody>
          <% @accepted_bids.each do |bid| %>
            <% if bid.status == "accepted" && bid.project.status == "completed" %>
              <tr>
                <td><%= bid.project_id %></td>
                <td><%= bid.project.title %></td>
                <td><%= bid.project.overview %></td>
                <td><% if bid.project.rating != nil %>
                  <%= button_to bid.project.rating.rate, project_path(bid.project_id), :class => "btn btn-secondary btn-lg", :method => :get %>
                  <% else %>
                  No rating yet
                <% end %></td>
              </tr>
            <% end %>  
          <% end %>      
        </tbody>
      </table>
    </div>
  </div>
</div>
  
 
    
    
    

    



