<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-12 p-4 bg-white">
      <h1 class="display-4 text-center" id="dashtitle">Welcome <%= current_user.name %>!</h1><br>

      <%# Projects created by the user(client) and open to bids, not in progress yet%>
      <h2 id="subtitle">Open</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Project ID</th>
            <th scope="col">Title</th>
            <th scope="col">Bids</th>
          </tr>
        </thead>
        <tbody>
          <% @open.each_with_index do |project, index| %>
            <tr>
              <th scope="row"><%= project.id %></th>
              <td><%= project.title %></td>
              <td>
                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="heading<%= index.to_s %>">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= index.to_s %>" aria-expanded="true" aria-controls="collapse<%= index.to_s %>">Check</button>
                      </h5>
                    </div>

                    <div id="collapse<%= index.to_s %>" class="collapse show" aria-labelledby="heading<%= index.to_s %>"    data-parent="#accordion">
                      <div class="card-body">
                        <% if project.bids.empty?%>
                          <%= "No bids yet" %>
                        <% else %>
                          <% project.bids.each do |bid| %>
                            <button class="btn btn-success"><%= link_to "Accept", projects_dashboard_path({project_id: project.id, bid_id: bid.id}), method: :post %>Bid <%= bid.id %></button>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%# Projects created by the user and in progress - the developer already has been chosen by the client %>
      <h2 id="subtitle">In Progress</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Project ID</th>
            <th scope="col">Title</th>
            <th scope="col">Developer</th>
            <th scope="col">Deadline</th>
            <th scope="col">Check Status</th>
          </tr>
        </thead>
        <tbody>
          <% @ongoing.each do|project| %>
            <tr>
              <th scope="row"><%= project.id %></th>
              <td><%= project.title %></td>
              <td>Developer's name</td>
              <td><%= project.deadline.strftime("%d %B %Y") %></td>
              <td>
              <% if current_user.id == project.user_id && project.status == "ongoing" %>
                <%= link_to "Completed?", status_complete_project_path(project), method: :post, data: { confirm: 'Project completed?'},class:"btn btn-success" %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%# Completed and closed projects that were created by the user (client) %>
      <h2 id="subtitle">Completed</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Project ID</th>
            <th scope="col">Title</th>
            <th scope="col">Developer</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>
        <tbody>
          <% @completed.each do|project| %>
            <tr>
              <th scope="row"><%= project.id %></th>
              <td><%= project.title %></td>
              <td><%= project.bids[0].user.name %></td>
              <td><% if project.rating != nil %>
                <%= button_to project.rating.rate, project_path(project), :class => "btn btn-secondary btn-lg", :method => :get %>
                <% else %>
                <%= link_to "Rate this project", project_path(project), method: :get %>
              <% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>