
<div class="container">
    <div class="header text-center mb-3">
        <h1>Recent Projects</h1>
    </div>
      
  <div class="header mb-3">
    <h1 class="text-center ">Recent Projects</h1>
        <%# Filter Projects by Type %>
        <div class="">
          <%= form_with url: projects_path, method: :get, local: true do |form| %> 
            <%= form.select :filter, @products.collect {|p| [p.option, p.id]} %>
            <%= form.submit 'Filter Projects' %>
          <% end %>
        </div>
    </div>

<%# List of All Projects %>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="card mb-2 p-2 col-sm-6 col-md-4">
        <img class="card-img-top w-95 img-responsive" src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/product_3_landing_page" alt="Card image cap">                
          <div class="card-body">
            <label for="project_title"><strong>Project Title</strong></label>
            <p class="card-title"><%= project.title %></p>  
            <label for="project_overview"><strong>Project Overview</strong></label>
            <p class="card-text"><%= project.overview %></p>
            <label for="project_description"><strong>Project Description</strong></label>
            <p class="card-text"><%= project.description %></p>
            <label for="project_deadline"><strong>Project Deadline</strong></label>
            <p class="card-text"><%= project.deadline %></p>
            <label for="project_price"><strong>Project Price</strong></label>
            <p class="card-text"><%= @product_1.price %></p>
            <p class="card-text"><%= link_to "Tell Me More...", project_path(project) %></p>   
              <div> 
                <% if current_user.user_type == "dev" %>            
                  <%= link_to "BID", project_bids_path(project), method: :post %>
                  <button type="button" class="close btn btn-primary">
                  <%= link_to "BID", project_bids_path(@project), method: :post %>
                  </button>
                  <% end %> 
              </div>
            </div>
       </div>
    <% end %>

  <%= link_to "Back Home", root_path %>

  <%= link_to "Create your project with us!", products_path %>








