
<div class="container">
  <div class="header mb-3">
    <h1 class="text-center ">Recent Projects</h1>
        <%# Filter Projects by Type %>
        <div class="">
          <%= form_with url: projects_path, method: :get, local: true do |form| %> 
            <%= form.select :filter, @products.collect {|p| [p.option, p.id]} %>
            <%= form.submit 'Filter Projects' %>
          <% end %>
        </div>
    </div>

<%# List of All Projects %>
<div class="row">
  <% @projects.each do |project| %>
    <div class="card mb-2 p-3 col-sm-8">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <label for="project_title"><strong>Project Title</strong></label>
          <p class="card-text"><%= project.title %></p>  
          <label for="project_overview"><strong>Project Overview<strong></label>
          <p class="card-text"><%= project.overview %></p>
          <label for="project_description"><strong>Project Description</strong></label>
          <p class="card-text"><%= project.description %></p>
          <label for="project_deadline"><strong>Project Deadline</strong></label>
          <p class="card-text"><%= project.deadline %></p>
          <label for="project_price"><strong>Project Price</strong></label>
          <p class="card-text"><%= project.price %></p>
          <label for="project_status"><strong>Project Status</strong></label>
          <p class="card-text"><%= link_to "More Info", project_path(project) %></p>
          <% if current_user.user_type == "dev" %>               
            <%= link_to "BID", project_bids_path(project), method: :post %>
          <% end %>
       </div>
    </div>
  </div>
  <% end %>
</div>

  <%= link_to "Back Home", root_path %>

  <%= link_to "Create your project with us!", products_path %>

<% if user_signed_in? %>
  <label for="project_status"><strong>Project Status</strong></label>
  <p class="card-text"><%= link_to "More Info", project_path(@projects) %></p>
  <span class="border border-primary"></span>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>
<% end %> 

