<h1 class="container display-4 text-center">Create a new project:</h1><br>

<div class="container text-center">
    <%= form_with model: @project, local: true do |form| %>
        <p>
            <%= form.label :product_id %> 
            <%= form.select :product_id, @products.collect {|p| [p.option, p.id]} %>
        </p>
        <p>
            <%= form.label :price %> 
            <%= form.text_field :price, type: 'number' %>
        </p>
        <p>
            <%= form.label :title %> 
            <%= form.text_field :title, maxlength: 50, size: 25 %>
        </p>
        <p>
            <%= form.label :overview %> 
            <%= form.text_area :overview, size: "30x5", maxlength: 500 %>
        </p>

        <p>
            <%= form.label :description %> 
            <%= form.text_area :description, size: "50x5", maxlength: 1000 %>
        </p>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.credentials.stripe[:publishable] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
    
    <% end %>
</div>