<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6 p-4 bg-white">
      <h1 class="text-center p-2" id="dashtitle">Create a new project:</h1>
      <div class="container text-center">
        <%= form_with model: @project, local: true do |f| %>
        
          <% if @project.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@project.errors.count, "error") %>
                prohibited this project from being saved:
              </h2>
              <ul>
                <% @project.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group p-1">
            <%= f.label :product_id %> 
            <%= f.select :product_id, @products.collect {|p| [p.option, p.id]}, :prompt => 'Select a product' %>
          </div>

          <div class="form-group p-1">
            <%= f.label :title %>
            <%= f.text_area :title, maxlength: 200, autofocus: true, autocomplete: "title", class:"form-control", id:"text-title" %>
            <small id="count_title" class="text-muted"></small>
          </div>
          <div class="form-group p-1">
            <%= f.label :overview %> 
            <%= f.text_area :overview, maxlength: 500, size: "30x5", autofocus: true, class:"form-control", id:"text-overview" %>
            <small id="count_overview" class="text-muted"></small>
          </div>
          <div class="form-group p-1">
            <%= f.label :description %> 
            <%= f.text_area :description, maxlength: 1000, size: "50x5", autofocus: true, class: "form-control", id:"text-description" %>
             <small id="count_description" class="text-muted"></small>
          </div>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.credentials.stripe[:publishable] %>"
          data-locale="auto"
          data-email="<%= current_user.email %>"></script>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  var title_max = 200;
  $("#count_title").html(title_max + " remaining");

  $("#text-title").keyup(function() {
    var text_length = $("#text-title").val().length;
    var text_remaining = title_max - text_length;
    $("#count_title").html(text_remaining + " remaining");
  });

  var overview_max = 500;
  $("#count_overview").html(overview_max + " remaining");

  $("#text-overview").keyup(function() {
    var text_length = $("#text-overview").val().length;
    var text_remaining = overview_max - text_length;
    $("#count_overview").html(text_remaining + " remaining");
  });

  var description_max = 1000;
  $("#count_description").html(description_max + " remaining");

  $("#text-description").keyup(function() {
    var text_length = $("#text-description").val().length;
    var text_remaining = description_max - text_length;
    $("#count_description").html(text_remaining + " remaining");
  });
</script>