<div class="container">
  <h3 class="text-center mb-4">Choose Your Project</h3>
  <div class="row">
    <div class="col">
      <h2 class="card-text">Basic Website</h2>
        <div class="card-body">
          <img class="card-img-top" src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/product_3_landing_page" alt="Card image cap">
            <p class="card-text">Product Description: <%= @product_1.description %></p> 
            <p class="card-text">Product Price: <%= @product_1.price %></p>
            <p class="card-text">Recommended Timeframe: <%= @product_1.duration %></p> days   
        </div>
    </div>
    <div class="col">
      <h2 class="card-text">Ecommerce Website</h2>
        <div class="card-body">
          <img class="card-img-top" src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/product_1_ecommerce" alt="Card image cap">
            <p class="card-text">Product Description: <%= @product_2.description %></p> 
            <p class="card-text">Product Price: <%= @product_2.price %></p>
            <p class="card-text">Recommended Timeframe: <%= @product_2.duration %></p> days   
        </div>    
    </div>
    <div class="col">
      <h2 class="card-text">Blogsite</h2>
        <div class="card-body">
          <img class="card-img-top" src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/product_2_blog" alt="Card image cap">
            <p class="card-text">Product Description: <%= @product_3.description %></p> 
            <p class="card-text">Product Price: <%= @product_3.price %></p>
            <p class="card-text">Recommended Timeframe: <%= @product_3.duration %></p> days   
        </div>  
    </div>
  </div>
</div>





